<div class="d-flex" style="width: 100%; justify-content: center; height: auto;">
  <div class="d-flex" style="margin-top: 50px;">
    <mat-card style="width: 310px;">
      <div class="example-header-image"></div>
      <mat-card-title>TODO</mat-card-title>
      <mat-card-subtitle>Consumo de api em NodeJs, Express e PostgresSQL</mat-card-subtitle>
      <div style="justify-content: center;">
        <img src="../../assets/imagem-todo.jpeg" class="img-card" alt="imagem com um post-it escrito TODO">
      </div>
      <mat-card-content>
        <span>Aplicação do framework angular para frontend com o consumo de uma APIRestful construida em NodeJS+Express+PostgresSQL</span>
      </mat-card-content>
      <mat-card-actions>
        <button mat-raised-button color="primary" class="ml-4" routerLink="/todo/:user_id" >Ir!</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
